# External Models and Weights
*.pt
*.pth
*.blob
*.onnx
*.engine

# Experimental Data and Outputs
outputs/
capturas_testing/
dataset_adas/
datasets/
runs/
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
*.csv
*.jsonl

# Environments and Caches
__pycache__/
*.py[cod]
.venv/
venv/
.cache/

# Editors and Operating System
.idea/
.vscode/
.DS_Store
Thumbs.db
